button{
    display: flex;
    align-items: center;
    line-height: 0;
    gap: .4rem;

}

button img{
    width: 2rem;
    height: 2rem;
}

body{
    min-height: 100vh;
    display: flex;
}

footer{
    margin-top: auto;
    background: grey;
    color: white;
    height: 8rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}